{% extends "blog/base.html" %}

{% block content %}

{% if form.errors %}
  <p>Usuário e senha invalidos, tente novamente</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input class="btn btn-outline-primary" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<button class="btn btn-outline-primary" href="{% url 'password_reset' %}">Perdeu a senha?</button>
{% endblock %}
