{% load static%}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        

    </head>
    <body>
        <div class="container"> 
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="http://www.garotasgeeks.com/wp-content/uploads/2017/09/garotas-geeks-pennywise-funko-pop-it-a-coisa-capa-600x240.jpg" alt="Primeiro Slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="https://abrilsuperinteressante.files.wordpress.com/2018/07/obomdinossauro1.jpg" alt="Segundo Slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="http://www.regiaodosvales.com.br/wp-content/uploads/2016/11/a-menina-que-r-livros.jpg" alt="Terceiro Slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Próximo</span>
                    </a>
                  </div>
                  <div class="col my-2">
                    </div>
                <nav class="navbar navbar-light" style="background-color:#1E90FF;">
          
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                          
                          <li class="nav-item active">
                            <a class="nav-link" href="{% url  'login' %}">Login <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link" href="{% url  'posts' %}">Variados <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorias
                                </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      {% for category in categories %}
                                          <a href="{% url 'category-detail' category.pk %}">{{ category.name }}</a><br>
                                      {% endfor %}
                                    <div class="dropdown-divider"></div>
                                  </div>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link" href="">Cadastrar-se <span class="sr-only">(current)</span></a>
                          </li>
                      </ul>
                    <form class="form-inline my-6 my-lg-0"action="{% url 'search' %}" method="get">
                      <input class="form-control mr-sm-2" name="q" type="text" placeholder="Pesquisa...">
                      <input type="submit" value="Pesquisar">
                    </form>
                  </div>
                </nav>
              </nav>

     

       
    
   
        {% block content %}
        {% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">  </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">       </script>
      </div>
      
    
    </body>
    
</html>