{% extends "blog/base.html" %}

{% block content %}
	
	<h3 class="my-3">
		
		{{ object.name }}	</h3>
		<div class="row">
	{% for post in object.posts.all %}
		{% include "blog/post_card.html" %}

		{% endfor %}
		</div>
		
{% endblock %}
