<div class="col-4">
    <div class="card border-light text-center" style="max-width: 600px;">
        <div class="card-body">
            <h4 class="card-title">{{ post }}</h4>
            <p class="card-subtitle">Autor(a): {{ post.author }} |</p>
            <p class="card-subtitle">Categoria: {{ post.category }}</p>
            <br>
            <a class="btn btn-outline-primary" href="{% url 'post-detail' post.pk %}">Ler mais</a>
        </div>
    </div>
</div>
