{% extends "blog/base.html" %}
{% load static%}
{% block content %}
    <div class="row">
    <div class=" my-3">
      <div class="card-body">
          
                <img src="{{ object.banner.url }}" class="img-fluid">
                {{ object.created_at }}
                
        <p>Author:
                {{ object.author }} |
                {{ object.category }}
                
       </p>
       <h4>{{ object.title }}</h4>
       <p>{{ object.text }}</p>
       <h3>comentarios</h3>

       {% for comment in object.comments.all %}
        <div class="card boder-info my-2">
          <div class="card-body">
            <h5>Autor:{{ comment.author }}</h5>
            <hr>
            <P class="card-text"> {{ comment.text|safe }}</P>
            
          </div>
        </div>
        
        </div>
      </div>
    {% endfor %}
    <form method="POST" action="{% url 'comment' object.id %}">
        {% csrf_token %}
        <textarea name="text">
        </textarea>
        <input type="submit" value="Comentar">
    </form>
  </div>

{% endblock %}


